
/* Your CSS Code here. */
.ques{
Max-width: Around 600px;
Margin: Approximately 10px;
Padding: Around 15px;
Border-left: 8px solid and in green color;
Background-color: Close to #f8fffe;
Font-weight: Bold;
}